
@{
    ViewBag.Title = "Adolescentes";
}

<div class="clear clearfix visible-xs-block">

</div>

<div class="container-fluid nopadding clearfix visible-lg-block">
    <img src="~/imagenes/lg/adolescente_lg.jpg" class="img-responsive" alt="Eclesiastes 11:9">
</div>
<div class="container">
    <div class="row">
        <!--2118 x 1060 resolucion imagenes galeria-->
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <h2><img src="~/imagenes/lg/pared_mas_pizarra_LG_adolescentes.png" class="img-responsive" alt="anuncios adolescentes">
        </div>
        <div class="col-lg-1"></div>
    </div>
    <div class="row">
        <!--2118 x 1060 resolucion imagenes galeria-->
        <div class="col-lg-1"></div>
        <div class="col-lg-10"><p class="adol_titulo">Aqui dejamos algunas fotos de nuestro grupo.</p></div>
        <div class="col-lg-1"></div>
    </div>
</div>
<!--Slider -->
<div class="container clearfix visible-xs-block clearfix visible-sm-block clearfix visible-md-block clearfix visible-lg-block">
    <div id="carousel-main" class="carousel slide" data-ride="carousel">

        <!--Indicadores Carrusel!-->
        <ol class="carousel-indicators">
            <li data-target="#carousel-main" data-slide-to="0"></li>
            <li data-target="#carousel-main" data-slide-to="1"></li>
            <li data-target="#carousel-main" data-slide-to="2"></li>
            <li data-target="#carousel-main" data-slide-to="3"></li>
        </ol>

        <!--Contenedor de los slide-->
        <div class="carousel-inner nopadding" role="listbox">
            <div class="item active">
                <img src="~/imagenes/generales/adolescentes_1_low.jpg" class="img-responsive" alt="Clases ebd" />
            </div>
            <div class="item">
                <img src="~/imagenes/generales/adolescentes_2_low.jpg" class="img-responsive" alt="Clases ebd" />
            </div>
            <div class="item">
                <img src="~/imagenes/generales/adolescentes_3_low.jpg" class="img-responsive" alt="Clases ebd" />
            </div>
            <div class="item">
                <img src="~/imagenes/generales/adolescentes_5_low.jpg" class="img-responsive" alt="Clases ebd" />
            </div>
        </div>
        <!--Controles Carrusel-->
        <a href="#carousel-main" class="left carousel-control" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
        </a>
        <a href="#carousel-main" class="right carousel-control" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Siguiente</span>
        </a>

    </div>
</div>
<div class="well-lg oculto">

</div>
<div class="well-sm oculto">

</div>
<div class="well-aux">

</div>
<div class="well-xs">

</div>

