@{
    ViewBag.Title = "Contact";
    string link = "https://www.google.com/maps/place/Escultor+Santiago+Parodi+5112/@-34.614282,-58.569315,17z/data=!4m2!3m1!1s0x0:0x31191b0b64612a35?hl=es-ES";
}

<div class="container-fluid nopadding">
    <div class="row">
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">

        </div>
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
            <h2 id="titulo" text-align="center">Bienvenido Usuario esta es nuestra pagina de contacto, aqu&iacute; usted podra contactar con algunos de los responsables de la iglesia para consultar las dudas que usted tenga.</h2>
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">

        </div>
    </div>

    <div class="row">
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
            <h3>Ubicacion en Google Maps.</h3>
        </div>

        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
    </div>
    <div class="row">
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">

            <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d3283.6119536767364!2d-58.57243728506898!3d-34.61397276554715!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e3!4m0!4m5!1s0x95bcb81660fb42f5%3A0x1ff0916c8bd955ad!2sEscultor+Santiago+Parodi+5112%2C+B1678BGB+Caseros%2C+Buenos+Aires%2C+Argentina!3m2!1d-34.6139772!2d-58.5702486!5e0!3m2!1ses!2sar!4v1458964667488" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
            <a href="@link" target="_blanck">Ver en google maps</a>

        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
    </div>
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8"><h3>Con las siguientes lineas de colectivos usted podra llegar a la iglesia:</h3></div>
        <div class="col-lg-2"></div>
    </div>
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-4">
            <ul>
                <li>
                    <h4>
                        <a href="http://www.omnilineas.com.ar/buenos-aires/colectivo/linea-181/&r=1" target="_blank">Escultor Stgo Parodi 5112: Linea 181 A-Almagro por La Merced</a>
                    </h4>
                </li>
                <li>
                    <h4>
                        <a href="http://www.omnilineas.com.ar/buenos-aires/colectivo/linea-181/&r=1" target="_blank">Escultor Stgo Parodi 5112: Linea 181 B-Almagro por Puan</a>
                    </h4>
                </li>
                <li>
                    <h4>
                        <a href="http://www.omnilineas.com.ar/buenos-aires/colectivo/linea-181/" target="_blank">Escultor Stgo Parodi 5200-5296: Linea 181 A-Almagro por La Merced</a>
                    </h4>
                </li>
                <li>
                    <h4>
                        <a href="http://www.omnilineas.com.ar/buenos-aires/colectivo/linea-181/" target="_blank">Escultor Stgo Parodi 5200-5296: Linea 181 B-Almagro por Puan</a>
                    </h4>
                </li>
                <li>
                    <h4>
                        <a href="http://www.omnilineas.com.ar/buenos-aires/colectivo/linea-343/&r=1" target="_blank">Escultor Stgo Parodi 4909: 343 x304</a>
                    </h4>
                </li>
                <li>
                    <h4>
                        <a href="http://www.omnilineas.com.ar/buenos-aires/colectivo/linea-343/" target="_blank">Escultor Stgo Parodi 3212: 343 x304</a>
                    </h4>
                </li>
                <li>
                    <h4>
                        <a href="http://www.omnilineas.com.ar/buenos-aires/colectivo/linea-343/" target="_blank">Av. San Mar&iacute;n 3206: 343 Carupa(por Lourdes)</a>
                    </h4>
                </li>
                <li>
                    <h4>
                        <a href="http://www.omnilineas.com.ar/buenos-aires/colectivo/linea-343/&r=1" target="_blank">Av. San Mar&iacute;n 3113-3199: 343 Liniers(por Lourdes)</a>
                    </h4>
                </li>
                <li>
                    <h4>
                        <a href="http://www.omnilineas.com.ar/buenos-aires/colectivo/linea-343/&r=1" target="_blank">Av. San Mar&iacute;n 3113-3199: 343 Tigre(por Lourdes)</a>
                    </h4>
                </li>
                <li>
                    <h4>
                        <a href="http://www.omnilineas.com.ar/buenos-aires/colectivo/linea-237/" target="_blank">Av. San Mart&iacute;n 3499: 237 Ramal B - Cartel Rojo(Liniers por Caseros)</a>
                    </h4>
                </li>
                <li>
                    <h4>
                        <a href="http://www.omnilineas.com.ar/buenos-aires/colectivo/linea-237/&r=1" target="_blank">Av. San Mart&iacute;n 3113-3199: 237 Ramal B - Cartel Rojo(Liniers por Caseros)</a>
                    </h4>
                </li>
            </ul>
        </div>
        <div class="col-lg-7"></div>
    </div>
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <h3>Dejamos tus consultas</h3>
            <form action="">

                <div class="form-group">
                    <select name="" id="" class="form-control">
                        <option value="">Seleccionar Destinatario</option>
                        <option value="">Marcos Gonzalez</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="">Introduce tu direccion de correo.</label>
                    <input type="text" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="">Consulta:(No mas de 70 de caracteres)</label>
                    <textarea name="" id="" cols="30" rows="10" class="form-control">
								
							</textarea>
                </div>


            </form>
        </div>
        <div class="col-lg-1">

        </div>
    </div>

    <div class="well oculto"></div>
    <div class="well-aux"></div>
    <div class="well-xs oculto"></div>

</div>
<!--<h2>7@ViewBag.Title.</h2>
<h3>3@ViewBag.Message</h3>-->



<!--<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    <strong>Marketin:</strong> <a href="mailto:marcos.scalzotto24@gmail.com">Mail de marcos</a>
</address>-->