
@{
    ViewBag.Title = "Escuela_biblica";
}

<div class="clear clearfix visible-xs-block">

</div>

<div class="container-fluid nopadding clearfix visible-lg-block">
    <img src="~/imagenes/lg/ebd_lg.jpg" class="img-responsive" alt="Mateo 19:14">
</div>
<div class="container-fluid nopadding clearfix visible-lg-block">
    <img src="~/imagenes/lg/pared_blanca_mas_pizarra_ebd_lg.jpg" class="img-responsive" alt="info_ebd">
</div>

<!--Slider MD !-->
<!--<div class="container-fluid nopadding clearfix visible-md-block">
    <div id="carousel-main" class="carousel slide" data-ride="carousel">

        <!--Indicadores Carrusel!-->
<!--<ol class="carousel-indicators">
    <li data-target="#carousel-main" data-slide-to="0"></li>
    <li data-target="#carousel-main" data-slide-to="1"></li>
</ol>-->
<!--Contenedor de los slide-->
<!--<div class="carousel-inner nopadding" role="listbox">
    <div class="item active">
        <img src="~/imagenes/md/pared_mas_pizarra_MD_ebd.jpg" class="img-responsive" alt="ebd horarios">
    </div>
    <div class="item">
        <img src="~/imagenes/md/pared_mas_pizarra_MD_ebd_2.jpg" class="img-responsive" alt="Clases ebd">
    </div>
</div>-->
<!--Controles Carrusel-->
<!--<a href="#carousel-main" class="left carousel-control" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
        </a>
        <a href="#carousel-main" class="right carousel-control" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Siguiente</span>
        </a>

    </div>
</div>-->
<!--Slider MD !-->
<!--Slider SM !-->
<!--<div class="container-fluid nopadding clearfix visible-sm-block">
    <div id="carousel-main1" class="carousel slide" data-ride="carousel">

        <!--Indicadores Carrusel!-->
<!--<ol class="carousel-indicators">
    <li data-target="#carousel-main1" data-slide-to="0"></li>
    <li data-target="#carousel-main1" data-slide-to="1"></li>
</ol>-->
<!--Contenedor de los slide-->
<!--<div class="carousel-inner nopadding" role="listbox">
    <div class="item active">
        <img src="~/imagenes/sm/pared_mas_pizarra_SM_ebd.jpg" class="img-responsive" alt="ebd horarios">
    </div>
    <div class="item">
        <img src="~/imagenes/sm/pared_mas_pizarra_SM_ebd_2.jpg" class="img-responsive" alt="Clases ebd">
    </div>
</div>-->
<!--Controles Carrusel-->
<!--<a href="#carousel-main1" class="left carousel-control" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Anterior</span>
</a>
<a href="#carousel-main1" class="right carousel-control" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Siguiente</span>
</a>
    </div>
</div>-->
<!--Slider SM !-->
<!--Slider XS !-->
<!--<div class="container-fluid nopadding clearfix visible-xs-block">
    <div id="carousel-main2" class="carousel slide" data-ride="carousel">

        <!--Indicadores Carrusel!-->
        <!--<ol class="carousel-indicators">
            <li data-target="#carousel-main2" data-slide-to="0"></li>
            <li data-target="#carousel-main2" data-slide-to="1"></li>
            <li data-target="#carousel-main2" data-slide-to="2"></li>
            <li data-target="#carousel-main2" data-slide-to="3"></li>
            <li data-target="#carousel-main2" data-slide-to="4"></li>
        </ol>-->

        <!--Contenedor de los slide-->
        <!--<div class="carousel-inner nopadding" role="listbox">
            <div class="item active">
                <img src="~/imagenes/xs/pared_mas_pizarra_XS_ebd.jpg" class="img-responsive" alt="ebd horarios">
            </div>
            <div class="item">
                <img src="~/imagenes/xs/pared_mas_pizarra_XS_ebd_anuncios_56.jpg" class="img-responsive" alt="Clases ebd">
            </div>
            <div class="item">
                <img src="~/imagenes/xs/pared_mas_pizarra_XS_ebd_79.jpg" class="img-responsive" alt="Clases ebd">
            </div>
            <div class="item">
                <img src="~/imagenes/xs/pared_mas_pizarra_XS_ebd_1012.jpg" class="img-responsive" alt="Clases ebd">
            </div>
            <div class="item">
                <img src="~/imagenes/xs/pared_mas_pizarra_XS_ebd_1316.jpg" class="img-responsive" alt="Clases ebd">
            </div>
        </div>
        <!--Controles Carrusel-->
        <!--<a href="#carousel-main2" class="left carousel-control" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
        </a>
        <a href="#carousel-main2" class="right carousel-control" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Siguiente</span>
        </a>

    </div>
</div>-->

