@{
    ViewBag.Title = "Home Page";
}

<!--AGREGAMOS LOS MISMOS ESTILOS DE ANTES-->

<div class="clear clearfix visible-xs-block">

</div>
<div class="clear clearfix visible-lg-block">

</div>
<!--<div class="container-fluid nopadding clearfix visible-xs-block">
    <img src="~/imagenes/xs/job3626XS.jpg" class="img-responsive" alt="Job 36:26">
</div>
<div class="container-fluid nopadding clearfix visible-sm-block">
    <img src="~/imagenes/sm/job3626SM.jpg" class="img-responsive" alt="Job 36:26">
</div>
<div class="container-fluid nopadding clearfix visible-md-block">
    <img src="~/imagenes/md/job3626MD.jpg" class="img-responsive" alt="Job 36:26">
</div>-->
<div class="container-fluid nopadding clearfix visible-lg-block">
    <img src="~/imagenes/lg/job3626LG.jpg" class="img-responsive" alt="Job 36:26">
</div>
<!--Slider XS !-->
<!--<div class="container-fluid nopadding clearfix visible-xs-block">
    <div id="carousel-main" class="carousel slide" data-ride="carousel">-->
<!--Indicadores Carrusel!-->
<!--<ol class="carousel-indicators">

    <li data-target="#carousel-main" data-slide-to="0"></li>
    <li data-target="#carousel-main" data-slide-to="1"></li>
    <li data-target="#carousel-main" data-slide-to="2"></li>
    <li data-target="#carousel-main" data-slide-to="3"></li>
    <li data-target="#carousel-main" data-slide-to="4"></li>
    <li data-target="#carousel-main" data-slide-to="5"></li>
    <li data-target="#carousel-main" data-slide-to="6"></li>
    <li data-target="#carousel-main" data-slide-to="7"></li>


</ol>-->
<!--Contenedor de los slide-->
<!--<div class="carousel-inner nopadding" role="listbox">

    <div class="item active">
        <img src="~/imagenes/xs/pared_mas_pizarra_XS_definitiva.jpg" class="img-responsive" alt="Pizarra benvenida">
    </div>
    <div class="item">
        <img src="~/imagenes/xs/pared_mas_pizarra_XS_femenina.jpg" class="img-responsive" alt="Reunion Femenina Martes 18:00 horario verano y 15:00 horario invierno" />
    </div>
    <div class="item">
        <img src="~/imagenes/xs/pared_mas_pizarra_XS_miercoles_definitiva.jpg" class="img-responsive" alt="Reunion de enseñanza miercoles 20hs" />
    </div>
    <div class="item">
        <img src="~/imagenes/xs/pared_mas_pizarra_XS_jueves.jpg" class="img-responsive" alt="Jueves 20hs ensayo de musicos" />
    </div>
    <div class="item">
        <img src="~/imagenes/xs/pared_mas_pizarra_XS_viernes_definitiva.jpg" class="img-responsive" alt="Viernes 20hs reunion de oracion" />
    </div>
    <div class="item">
        <img src="~/imagenes/xs/pared_mas_pizarra_XS_jovenes.jpg" class="img-responsive" alt="Reunion de jovenes 2° y 4° sabados de cada mes." />
    </div>
    <div class="item">
        <img src="~/imagenes/xs/pared_mas_pizarra_XS_sabados.jpg" class="img-responsive" alt="1° Sabado Reunion de Familia-3° Sabado Retiro" />
    </div>
    <div class="item">
        <img src="~/imagenes/xs/pared_mas_pizarra_XS_domingos_definitiva.jpg" class="img-responsive" alt="Domingos 10:30hs escuela dominical, 18hs cena del señor, 19:15hs predicacion" />
    </div>

</div>-->
<!--Controles Carrusel-->
<!--<a href="#carousel-main" class="left carousel-control" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
        </a>
        <a href="#carousel-main" class="right carousel-control" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Siguiente</span>
        </a>
    </div>
</div>-->
<!--Slider XS !-->
<!--Slider SM !-->
<!--<div class="container-fluid nopadding clearfix visible-sm-block">
    <div id="carousel-main1" class="carousel slide" data-ride="carousel">-->
<!--Indicadores Carrusel!-->
<!--<ol class="carousel-indicators">

    <li data-target="#carousel-main1" data-slide-to="0"></li>
    <li data-target="#carousel-main1" data-slide-to="1"></li>
    <li data-target="#carousel-main1" data-slide-to="2"></li>
    <li data-target="#carousel-main1" data-slide-to="3"></li>
    <li data-target="#carousel-main1" data-slide-to="4"></li>
    <li data-target="#carousel-main1" data-slide-to="5"></li>
    <li data-target="#carousel-main1" data-slide-to="6"></li>

</ol>
    -->
<!--Contenedor de los slide-->
<!--<div class="carousel-inner nopadding" role="listbox">

    <div class="item active">
        <img src="~/imagenes/sm/pared_mas_pizarra_SM.jpg" class="img-responsive" alt="Pizarra benvenida" />
    </div>
    <div class="item">
        <img src="~/imagenes/sm/pared_mas_pizarra_SM_femenina.jpg" class="img-responsive" alt="Reunion Femenina Martes 18:00 horario verano y 15:00 horario invierno" />
    </div>
    <div class="item">
        <img src="~/imagenes/sm/pared_mas_pizarra_SM_miercoles.jpg" class="img-responsive" alt="Reunion de enseñanza miercoles 20hs" />
    </div>
    <div class="item">
        <img src="~/imagenes/sm/pared_mas_pizarra_SM_jueves.jpg" class="img-responsive" alt="Ensayo de musicos 20hs" />
    </div>
    <div class="item">
        <img src="~/imagenes/sm/pared_mas_pizarra_SM_viernes.jpg" class="img-responsive" alt="Viernes 20hs reunion de oracion" />
    </div>
    <div class="item">
        <img src="~/imagenes/sm/pared_mas_pizarra_SM_sabado.jpg" class="img-responsive" alt="1° sabados del cada mes 19hs reunion de familia,3° retiro 10:30hs" />
    </div>
    <div class="item">
        <img src="~/imagenes/sm/pared_mas_pizarra_SM_jovenes.jpg" class="img-responsive" alt="Reunion de jovenes 2° y 4° sabados de cada mes." />
    </div>
    <div class="item">
        <img src="~/imagenes/sm/pared_mas_pizarra_SM_domingo.jpg" class="img-responsive" alt="Domingos 10:30hs escuela dominical, 18hs cena del señor, 19:15hs predicacion" />
    </div>

</div>-->
<!--Controles Carrusel-->
<!--<a href="#carousel-main1" class="left carousel-control" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Anterior</span>
</a>
<a href="#carousel-main1" class="right carousel-control" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Siguiente</span>
</a>

    </div>
</div>-->
<!--Slider SM !-->
<!--Slider MD !-->
<!--<div class="container-fluid nopadding clearfix visible-md-block">
    <div id="carousel-main2" class="carousel slide" data-ride="carousel">

        <!--Indicadores Carrusel!-->
<!--<ol class="carousel-indicators">

    <li data-target="#carousel-main2" data-slide-to="0"></li>
    <li data-target="#carousel-main2" data-slide-to="1"></li>
    <li data-target="#carousel-main2" data-slide-to="2"></li>
    <li data-target="#carousel-main2" data-slide-to="3"></li>
    <li data-target="#carousel-main2" data-slide-to="4"></li>
    <li data-target="#carousel-main2" data-slide-to="5"></li>
    <li data-target="#carousel-main2" data-slide-to="6"></li>

</ol>-->
<!--Contenedor de los slide-->
<!--<div class="carousel-inner nopadding" role="listbox">

    <div class="item active">
        <img src="~/imagenes/md/pared_mas_pizarra_MD.jpg" class="img-responsive" alt="Pizarra benvenida" />
    </div>
    <div class="item">
        <img src="~/imagenes/md/pared_mas_pizarra_MD_martes.jpg" class="img-responsive" alt="Reunion Femenina Martes 17:30 horario verano y 15:30 horario invierno" />
    </div>
    <div class="item">
        <img src="~/imagenes/md/pared_mas_pizarra_MD_miercoles.jpg" class="img-responsive" alt="Reunion de enseñanza miercoles 20hs" />
    </div>
    <div class="item">
        <img src="~/imagenes/md/pared_mas_pizarra_MD_jueves.jpg" class="img-responsive" alt="Ensayo de musicos 20hs" />
    </div>
    <div class="item">
        <img src="~/imagenes/md/pared_mas_pizarra_MD_viernes.jpg" class="img-responsive" alt="Viernes 20hs reunion de oracion" />
    </div>
    <div class="item">
        <img src="~/imagenes/md/pared_mas_pizarra_MD_sabado.jpg" class="img-responsive" alt="Sabado Reunion de familia 1ros sabados 19hs 2dos y 4tos 19hs de jovenes, 3ros retiros 10:30hs" />
    </div>
    <div class="item">
        <img src="~/imagenes/md/pared_mas_pizarra_MD_domingo.jpg" class="img-responsive" alt="Domingos 10:30hs escuela dominical, 18hs cena del señor, 19:15hs predicacion" />
    </div>

</div>
<!--Controles Carrusel-->
<!--<a href="#carousel-main2" class="left carousel-control" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Anterior</span>
</a>
<a href="#carousel-main2" class="right carousel-control" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Siguiente</span>
</a>

    </div>
</div>-->
<!--Slider MD !-->

<div class="cartelera container-fluid clearfix visible-lg-block">
    <img src="~/imagenes/lg/pared_mas_pizarra_LG.jpg" class="img-responsive" alt="cartelera con anuncios">
</div>