
@{
    ViewBag.Title = "Quien_eres";
}

<div class="clear clearfix visible-xs-block">

</div>
<div class="container-fluid nopadding clearfix visible-lg-block">
    <img src="~/imagenes/lg/quienEres_lg.jpg" class="img-responsive" alt="Juan 8:12">
</div>
<div class="well oculto">

</div>
<div class="well-aux">

</div>
<div class="well-xs oculto">

</div>
<div class="container">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">

            <iframe width="100%" height="400" src="https://www.youtube.com/embed/8pdpqeV8fSo" frameborder="0" allowfullscreen></iframe>

        </div>
        <div class="col-lg-1"></div>
    </div>
    <div class="well oculto"></div>
    <div class="row">
        <div class="col-lg-0"></div>
        <div class="col-lg-12"><p id="quien_eres_tit">Sino pudiste ver el video te invitamos a leer este mensaje de parte de Dios para ti!</p></div>
        <div class="col-lg-0"></div>

    </div>
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 text-center"><p id="tit_plan">Plan de salvacion para el hombre.</p></div>
        <div class="col-lg-2"></div>
    </div>
    <div class="clear clearfix xs-block lg-block">

    </div>
    <div class="row">
        <div class="col-lg-4">
            <h4>
                <strong>1-Todos somos pecadores:</strong>
                Todos y cada uno de nosotros alguna vez hemos hecho algo malo, por ejemplo mentir, robar, pensar mal, desobedecer, a estas cosas la palabra de Dios las llama pecado, el pecado nos separa de Dios, como dice <strong>Romanos 3:23 “Por cuanto todos pecaron, y están destituidos de la gloria de Dios”</strong>.
            </h4>
        </div>
        <div class="col-lg-4">
            <h4>
                <strong>2-Las consecuencias del pecado:</strong>
                El pago para aquel que hace lo malo es la muerte espiritual, es decir estar separado de Dios por la eternidad, es decir pasar la eternidad en el infierno un lugar de condenación preparado para aquellos que han ofendido a Dios. Pero la dadiva o regalo de Dios es vida eterna, es decir conocer a Dios y tener una relación con el a través de Cristo Jesús. <strong>Romanos 6:23 “Porque la paga del pecado es muerte, mas la dadiva de Dios es vida eterna en Cristo Jesús”</strong>.
            </h4>
        </div>
        <div class="col-lg-4">
            <h4>
                <strong>3-Volver a Dios:</strong>
                Si tú crees en tu corazón que Cristo murió por ti y Dios le levanto de los muertos y le pides perdón por tus pecados, entonces podrás ser salvo.
                <strong>
                    Romanos 10:9 “Que si confesares con tu boca que Jesús es el Señor, y creyeres en tu corazón que Dios le levanto de los muertos, serás salvo.”
                    Juan 5:24 De cierto, de cierto os digo: El que oye mi palabra, y cree al que me envió, tiene vida eterna; y no vendrá a condenación, mas ha pasado de muerte a vida.
                </strong>
            </h4>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-6">
            <h4>
                <strong>4-Tu puedes ser salvo ahora:</strong> Puede orar a Dios de la siguiente forma:Padre celestial: acepto que soy pecador y me arrepiento de corazón de todos mis pecados. Reconozco que el pecado de me ha tenido separado de ti.
                Padre: Creo de corazón que Jesucristo murió por mis pecados en una cruz y que resucito para que yo fuera limpiado y justificado delante de ti.
                Señor: Quiero que Jesucristo sea salvador y señor de mi vida. Te lo pido en el nombre del Señor Jesucristo. Amén.
            </h4>
        </div>
        <div class="col-lg-6">
            <h4>
                <strong>5-Ser hijo de Dios:</strong>
                Si recibiste a Jesucristo como tu salvador personal, desde este momento eres un hijo de Dios y como tal, tienes que buscar la comunión con el orando y leyendo la biblia todos los días. También pídele a Dios que te muestre una congregación cristiana donde puedas ser enseñado. Ahí podrás alabarle y convivir con hermanos en la fe.
            </h4>
        </div>
    </div>
</div>

