
@{
    ViewBag.Title = "Quienes_somos";
}

<div class="container-fluid nopadding clearfix visible-lg-block imagen">
    <img src="~/imagenes/lg/1tim315LG.jpg" class="img-responsive" alt="1 Timoteo 3:15">
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3 col-lg-1"></div>
        <div class="col-md-6 col-lg-10"><h2>Bienvenido usuario! Disfrute viendo un video en conmemoracion de nuestro 60° aniversario de iglesia.</h2></div>
        <div class="col-md-3 col-lg-1"></div>
    </div>
</div>
<div id="fondo" class="container">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <iframe width="100%" height="400" src="https://www.youtube.com/embed/XvZ9pIeIXCk" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col-lg-1"></div>

    </div>
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10"><h1 align="center">En qu&eacute; creemos ?</h1></div>
        <div class="col-lg-1"></div>
    </div>
    <div class="well oculto">

    </div>

    <div class="row normal">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <h4>
                <strong>1.	La Biblia:</strong>
                Creemos en la Biblia, la cual está compuesta por el Nuevo y Antiguo Testamento, inspirada por Dios en forma verbal y plenaria.  Es infalible y la aceptamos como la palabra autorizada de Dios.  Es la única y final regla para la fe y conducta cristiana.
                <strong>1 Tesalonicenses 2:13; 2 Timoteo 3:16-17; Hebreos 3:7; Hebreos 10:15-17; Hebreos 4:12-13</strong>
            </h4>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 invert-normal">

            <h4>
                <strong>2.	Dios:</strong>
                Creemos en la existencia de un Dios trino, creador, preservador y gobernador de todas las cosas. Representado en tres personas: Padre, Hijo y Espíritu Santo. Cada uno con atributos personales distintos,  pero sin división en esencia y naturaleza.
                <strong>Génesis 1:26; 2 Corintios 13:14; 1 Juan 5:7; Mateo 3:16-17; 1 Timoteo 3:15-16; Romanos. 9:5; Salmo 104:30</strong>
            </h4>
            <!--<div class="well oculto">

            </div>
            <div class="well oculto">

            </div>-->
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <h4>
                <strong>3.	La Persona y Obra de Cristo:</strong>
                Creemos en la Santa Divinidad de Jesucristo, perfecto Dios y perfecto hombre, su nacimiento virginal, su vida sin pecado en esta tierra y  su muerte en la cruz del Calvario para satisfacer el sacrificio por el pecado.  Creemos que su cuerpo fue sepultado y al tercer día resucitó de entre los muertos. Ascendió a la diestra del Padre donde intercede por los salvos.  Creemos que regresará otra vez a buscar a los suyos (su Iglesia) y volverá por segunda vez en Gloria  para establecer su reino en la tierra.
                <strong>Isaías 7:14; 2 Corintios 5:21; Mateo 1:18-25; Juan 1:1-14;  Juan 16:6-8</strong>
            </h4>
        </div>
    </div>
    <!--<div class="well oculto">

    </div>-->
    <div class="row alternate">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 invert-normal">
            <h4>
                <strong>4.	La Persona y Obra del Espíritu Santo:</strong>
                Creemos que el Espíritu Santo es la tercera persona de la Santa Trinidad. Creemos que Él convence al mundo de pecado, que es el agente sobrenatural de la regeneración, mora en la vida del creyente y lo sella hasta el día de la redención. Creemos que al ser salvo, el nuevo creyente es bautizado por el Espíritu Santo y no necesita buscar una segunda experiencia de bautismo del Espíritu como evidencia de su salvación.
                <strong>Juan 14:16-18; Juan 16:7-8; Juan 3:5-7; Romanos 8:9; Juan 14:26; Efesios 5:18;1 Corintios 12:13</strong>
            </h4>
            <div class="well oculto">

            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 invert-alternate">
            <h4>
                <strong>5.	El Hombre:</strong>
                Creemos que el hombre fue creado por Dios, no como resultado del proceso de evolución. Fue creado a la imagen de Dios y en estado de inocencia. Creemos que por la transgresión del hombre, el pecado entró al mundo y la muerte por el pecado, no únicamente muerte física,  sino también muerte espiritual (separación de Dios)
                <strong>Génesis 3:6-9; Romanos 5:12; Salmos 51:5; Jeremías 17:9, Isaías 59:2</strong>
            </h4>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 invert-normal">
            <h4>
                <strong>6.	La Salvación:</strong>
                Creemos que Cristo murió por nuestros pecados, que fue sepultado y resucitó al tercer día según las Escrituras.  Creemos que una persona es salva cuando, reconoce su estado de separación de Dios a causa de sus pecados, se arrepiente y coloca su fe en Cristo Jesús y su sacrificio en la cruz del Calvario como el único y suficiente sacrificio por los pecados del hombre.  Creemos que la salvación es un regalo de vida eterna, únicamente por la gracia de Dios sin mérito ni obras.  Creemos que la expiación de Cristo no es limitada, ya que Dios desea que todos sean salvos y vengan al conocimiento de la verdad. Creemos que es su voluntad que nadie se pierda,  sino que todos vengan al arrepentimiento.
                <strong>1 Corintios 15:3-4; Romanos 6:23; Romanos 10:9-10; Hechos 16:31; 2 Pedro 3:9; Efesios 2:8-9</strong>
            </h4>
        </div>
    </div>

    <div class="row normal">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <h4>
                <strong>7.	La Santificación:</strong>
                Creemos que el creyente ha sido santificado y declarado justo ante Dios a través de la obra redentora de Cristo una vez y para siempre. Creemos que esa santificación se experimenta diariamente como fruto de una relación con Cristo y de una vida separada del mundo. Creemos que el creyente en el momento de su Salvación es librado de la pena o condenación por el pecado (Juan 5:24; Romanos. 5:1), mientras viva en esta tierra es librado del poder del pecado.(Romanos. 6:12-14, 22; 1 Tesalonicenses. 4:3; Tito 2:11-14; 1Pedro 1:15-16) y un día en la transformación de su cuerpo será librado de la presencia del pecado. (1Corintios 15:51-54)
            </h4>

        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 invert-normal">
            <h4>
                <strong>8.	Satanás:</strong>
                Creemos que Satanás es una persona sobrenatural, un ángel caído, el autor del pecado y la causa de la caída del hombre. Creemos  que es el dios de  este siglo, el príncipe de  las potestades del aire y el enemigo de Dios y del hombre, su destino es el castigo eterno en el lago de fuego.
                <strong>Ezequiel 28:1-19; Job 1:6-9; 2 Corintios 4:4; Mateo 4:1-11; Santiago 4:7; Apocalipsis 20:10</strong>
            </h4>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <h4>
                <strong>9.	El Infierno:</strong>
                Creemos en un infierno literal, el lago de fuego y azufre, el cual será el castigo final de Satanás, los ángeles caídos, los demonios y los incrédulos.
                <strong>Lucas 16:22-26; Apocalipsis 20:12-15; Apocalipsis 21:8</strong>
            </h4>

        </div>
    </div>

    <div class="row alternate">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <h4>
                <strong>10.	El Cielo:</strong>
                Creemos literalmente en un lugar llamado “cielo” donde la presencia inmediata de Dios se manifiesta, donde los ángeles moran y donde el redimido vivirá eternamente. Desde donde Cristo descendió y a donde ascendió después de su resurrección. Donde intercede  por los santos y de donde vendrá para  juzgar a los vivos y a los muertos.
                <strong>Juan 14:1-3; Apocalipsis 21; Hebreos 7:25</strong>
            </h4>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 invert-alternate">
            <h4>
                <strong>11.	El Estado Eterno:</strong>
                Creemos en la resurrección  de todos los hombres, los salvos a vida eterna y los perdidos a juicio y castigo eterno. Creemos que el alma del incrédulo permanece después de la muerte en miseria y tormento esperando hasta la segunda resurrección,  donde el cuerpo, el alma y el espíritu serán arrojados al lago de fuego no para ser aniquilados,  sino para sufrir eternamente.  Creemos que el alma del redimido después de la muerte está presente con el Señor esperando la primera resurrección, la glorificación de su cuerpo y su encuentro con el Señor en las nubes.
                <strong>1 Tesalonicenses 4:13-18; Apocalipsis 20:11-15; 2 Corintios 5:6-8; 1 Corintios 15:1;  1 Tesalonicenses 4:13-18</strong>
            </h4>

        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <h4>
                <strong>12.	El Rapto o arrebatamiento de la iglesia:</strong>
                Creemos en la venida de Cristo en las nubes por su Iglesia. Venida que serápretribulacional e inminente para llevar a los suyos.
                <strong>1Tes. 4:13-18</strong>
            </h4>

        </div>
    </div>

    <div class="row normal">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <h4>
                <strong>13.	La segunda venida de Cristo en Gloria:</strong>
                Creemos en la visible, premilenial  y gloriosa venida de Cristo a la tierra con los suyos al final de la tribulación para juzgar a las naciones y establecer su reino milenial en la tierra.
                <strong>Hechos 1:11; Juan 14:3; I Tesalonicenses 4:13-18; Mateo 24:42-44</strong>
            </h4>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 invert-normal">
            <h4>
                <strong>14.	La Seguridad Eterna del Creyente:</strong>
                Creemos que toda persona redimida por Dios es guardada por el poder de Dios y descansa seguro en Cristo por siempre.  Creemos que una vez que el hombre es salvo, nunca pierde su salvación.
                <strong>Juan 10:27-29; 2 Timoteo 1:12; Filipenses 1:6</strong>
            </h4>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <h4>
                <strong>15.	La Iglesia:</strong>
                Creemos que todos los que confían en Jesucristo son inmediatamente colocados por el Espíritu Santo en un Cuerpo espiritual, la iglesia, la novia de Cristo, de la cual Cristo es la cabeza.  Enseñamos que la formación de la iglesia, el Cuerpo de Cristo, comenzó en el día de Pentecostés y terminará cuando Cristo venga por los suyos en el rapto.  Enseñamos que la iglesia es un organismo espiritual único diseñado por Cristo, constituido por todos los creyentes que han nacido de nuevo. La iglesia es distinta a Israel, un misterio no revelado, sino hasta esta época.
                <strong>1 Corintios 12:12-13; 2 Corintios 11:2; Efesios 5:23-32; Apocalipsis 19:7-8; Efesios 1:22; Efesios 4:15; Colosenses 1:18; Hechos 2:1-21; Hechos 3:38-47; 1Corintios 15:51-52; 1 Tesalonicenses 4:13-18</strong>
            </h4>
        </div>
    </div>

    <div class="row alternate">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <h4>
                <strong>16.	La Gran Comisión:</strong>
                Creemos en la Gran Comisión  que Cristo dejó a la Iglesia, está consiste en ir por todo el mundo y predicar el evangelio a todo criatura, bautizándolos en el nombre del Padre, y del Hijo, y del Espíritu Santo, discipulándoles en todo lo concerniente al Señor conforme a su Palabra.
                <strong>Mateo 28:18-20; Marcos 16:15</strong>
            </h4>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 invert-alternate">
            <h4>
                <strong>17.	Los Dones Espirituales:</strong>
                Creemos que el Espíritu Santo administra dones espirituales a la Iglesia.  El Espíritu Santo no se glorifica asimismo ni a sus dones por medio de muestras ostentosas, sino que glorifica a Cristo al implementar su obra de redención de los perdidos y edificación de los creyentes en la santísima fe. Creemos que Dios, el Espíritu Santo es soberano en otorgar sus dones para el perfeccionamiento de los santos hoy. Creemos también que los dones fueron dados en su tiempo a los apóstoles para  certificarlos como reveladores de la verdad divina. Creemos que dones como las lenguas, profecía, interpretación de lenguas, sanidad y milagros ya no están vigentes, porque cumplieron su propósito debido a que las Escrituras fueron totalmente terminadas y podemos ver en ella la voluntad de Dios.
                <strong>Juan 16:13-14; Hechos 1:8; 1 Corintios 12:4-11; 2 Corintios 3:18; 1 Corintios 13:8-10; 2 Corintios 12:12; Efesios 4:7-12; Hechos 2:1-4, Hebreos  2:4</strong>
            </h4>

        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <h4>
                <strong>18.	El Movimiento Ecuménico:</strong>
                Creemos que el movimiento ecuménico, el cual trata de unir a todo tipo de religiones y credos no es bíblico, pues los principios doctrinales y teológicos establecidos en la palabra de Dios están en contra de ello, por lo tanto no nos identificamos con este movimiento, ni participamos del mismo. con este movimiento.
                <strong>Romanos 16:17; 2 Timoteo 3:5; 2 Timoteo 4:3-5</strong>
            </h4>

        </div>
    </div>
    <div class="well oculto">

    </div>
</div>
<div class="well oculto">

</div>