
@{
    ViewBag.Title = "Retiros";
}

<div class="clear clearfix visible-xs-block">

</div>
<!--<div class="container-fluid nopadding clearfix visible-xs-block">
    <img src="imagenes/xs/deut79_xs.jpg" class="img-responsive" alt="Mateo 19:14">
</div>-->
<div class="container-fluid nopadding visible-sm-block visible-md-block visible-lg-block">
    <img src="~/imagenes/lg/deut79_lg_reducido.jpg" class="img-fluid" alt="Img Deuteronimio 7:9">
</div>
<!--<div class="container-fluid nopadding clearfix visible-sm-block">
    <img src="imagenes/sm/ebd_sm.jpg" class="img-responsive" alt="Mateo 19:14">
</div>
<div class="container-fluid nopadding clearfix visible-md-block">
    <img src="imagenes/md/ebd_md.jpg" class="img-responsive" alt="Mateo 19:14">
</div>
<div class="container-fluid nopadding clearfix visible-lg-block">
    <img src="imagenes/lg/ebd_lg.jpg" class="img-responsive" alt="Mateo 19:14">
</div>-->
<div class="container">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10"><h2 align="center">Retiro de Iglesia</h2></div>
        <div class="col-lg-1"></div>
    </div>
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8"><h4 align="center">Son reuniones especiales donde se invitan oradores de otras iglesias para dar el mensaje de la palabra de Dios. Aquí le dejamos una grilla de referencia con el nombre y fecha de cada reunion y orador.</h4></div>
        <div class="col-lg-2"></div>
    </div>
    <table class="table table-bordered personal">
        <thead>
            <tr>
                <th>Orador</th>
                <th>Fecha</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Jorge Scopazzo</td>
                <td>25 de Marzo</td>
            </tr>
            <tr>
                <td>Marcos Gonz&aacute;lez</td>
                <td>22 de Abril</td>
            </tr>
            <tr>
                <td>Mariano Laudonio</td>
                <td>20 de Mayo</td>
            </tr>
            <tr>
                <td>Ricardo Bisio</td>
                <td>17 de Junio</td>
            </tr>
            <tr>
                <td>Omar Pelliza</td>
                <td>15 de Julio</td>
            </tr>
            <tr>
                <td>Leonardo Plandio</td>
                <td>2 de septiempre</td>
            </tr>
            <tr>
                <td>Omar Pelliza</td>
                <td>16 de septiempre</td>
            </tr>
            <tr>
                <td>Omar Pelliza</td>
                <td>21 de Octubre</td>
            </tr>
            <tr>
                <td>Guillermo Ungaro</td>
                <td>18 de Noviembre</td>
            </tr>
            <!--<tr>
                <td>Leonardo Plandio</td>
                <td>2 de septiempre</td>
            </tr>-->
        </tbody>
    </table>
    <div class="row">
        <div class="col-xs-0 col-md-2"></div>
        <div class="col-xs-12 col-md-8"><h4 align="center">Aquí le dejamos para que escuche el ultimo retiro.</h4></div>
        <div class="col-xs-0 col-md-2"></div>
    </div>
    <div class="row">
        

        <div class='col-xs-12 col-sm-9 col-md-10 col-lg-10 visible-xs-block visible-sm-block  visible-md-block visible-lg-block nopadding'>
            <iframe src="//chirb.it/wp/yFhGbh" width="100%" height="170" scrolling="NO" frameborder="0">If you can not see this chirbit, listen to it here http://chirb.it/yFhGbh</iframe>
            <br/>
            <a href="//chirb.it/yFhGbh" title="2016-07-31-Rpred.-Daniel Dragone-Por sus frutos los conocereis | social audio" style="font-family:helvetica,arial,sans-serif;font-size:8pt;text-align:left;margin:5px;">Check this out on Chirbit</a>

        </div>
        <div class='col-xs-0 col-sm-3 col-md-2 col-lg-2  visible-sm-block visible-md-block visible-lg-block nopadding'>
            <p align="center"><img src="imagenes/avatar.jpg" alt="avatar" width="151" height="170"></p>
        </div>
    </div>
    <div class="well oculto">

    </div>
    <div class="well-aux"></div>
    <div class="well-xs oculto"></div>
</div>


