
@{
    ViewBag.Title = "verMensajes";
    string reunion1 = ViewBag.reunion;
}

<h2>Audios de la reunion de: @reunion1</h2>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 visible-xs-block visible-sm-block  visible-md-block visible-lg-block nopadding">
            <iframe src="//chirb.it/wp/3nA7F5" width=380 scrolling="NO" frameborder=0>If you can not see this chirbit, listen to it here http://chirb.it/3nA7F5</iframe>
            <br />
            <a href="//chirb.it/3nA7F5" title="2016-07-26-Rfem.-Micaías Soloa - La Mujer Astuta | social audio" style="font-family:helvetica,arial,sans-serif;font-size:8pt;text-align:left;margin:5px;">Check this out on Chirbit</a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 visible-xs-block visible-sm-block  visible-md-block visible-lg-block nopadding">
            <iframe src="//chirb.it/wp/3nA7F5" width=380 scrolling="NO" frameborder=0>If you can not see this chirbit, listen to it here http://chirb.it/3nA7F5</iframe>
            <br />
            <a href="//chirb.it/3nA7F5" title="2016-07-26-Rfem.-Micaias Soloa - La Mujer Astuta | social audio" style="font-family:helvetica,arial,sans-serif;font-size:8pt;text-align:left;margin:5px;">Check this out on Chirbit</a>
        </div>
    </div>

</div>      


